<form role="form" action="index.php" method="POST" enctype="multipart/form-data">
	<input name="control" type="hidden" value="create_import">
	<div class="form-group">
		<label for="email">Your email</label>
		<input name="email" type="email" placeholder="joe.bloggs@example.com" class="form-control" required />
	</div>
	<div class="form-group row">
		<div class="col-sm-8">
			<label for="uplBackup">Your backup file</label>
			<div class="custom-file">
				<input type="file" class="custom-file-input" id="uplBackup" name="archive" accept=".zip" required />
				<label class="custom-file-label" for="uplBackup">Upload an archive</label>
			</div>
		</div>
		<div class="col-sm-4">
			<label for="prefix">Database prefix</label>
			<input name="prefix" type="text" placeholder="wp_" class="form-control" required />
		</div>
	</div>
	<p><em>Login details will be emailed to you.</em></p>
	<button type="submit" class="btn btn-primary" value="Create" onclick="return confirm('WARNING: All sites generated begin with a 60 day expiry. It is your responsibility to ensure the site remains active as long as it is needed, otherwise it will be automatically pruned.')">
		Submit
	</button>
</form>