{% extends "_master.html.twig" %}

{% block content %}
<div class="container">
	<h1>{{ log_header }}</h1>
	<p>
		<a class="btn btn-info" href="//{{ return_url }}">Return</a>
		{% if show_exluder %}
		<a class="btn btn-info" href="//{{ return_url }}/index.php?control=log&full">Show full log</a>
		{% endif %}
	</p>
</div>
{% if log_contents is not null %}
<div class="container-fluid">
	<pre class='pre-scrollable bg-dark text-white'>{{ log_contents }}</pre>
</div>
{% else %}
<div class="container">
	<p>No log entries found.</p>
</div>
{% endif %}
{% endblock %}