{% extends "_master.html.twig" %}

{% block content %}
<div class="container">
	<h1>{{ log_header }}</h1>
	<p>
		<a class="btn btn-info" href="//{{ return_url }}">Return</a>
		{% if show_exluder %}
		<a class="btn btn-info" href="//{{ return_url }}/index.php?control=log&full">Show full log</a>
		{% endif %}
	</p>
	{% if log_contents is not null %}
	<pre class='pre-scrollable'>{{ log_contents }}</pre>
	{% else %}
	<p>No log entries found.</p>
	{% endif %}
</div>
{% endblock %}