<p>Site created. Your login details are (without surrounding quotes):</p>
<p><strong>Username:</strong> {{ username }}</p>
<p><strong>Password:</strong> {{ password }}</p>
<p><a href="{{ url }}/wp-admin">Login to your WordPress site</a>.</p>
<p><em>You are seeing this page because an email error occurred, or emails are disabled on your system.</em></p>